<article>
    <img class="portrait" src="{{author.portrait_url}}" alt="">
    <h2>{{author.first_name}} {{author.last_name}}</h2>
    <h3>
    {{#books}}
  {{title}}
    {{/books}}
  </h3>
    <p>{{author.biography}}</p>
</article>
