<section>
  <a href="/authors"><div class="sideLink">
    <img class="sideImg" src="/images/authors.jpg" alt="" />
    <h3 class="sideH3">Authors</h3>
  </div></a>
  <a href="/books"><div class="sideLink">
    <img class="sideImg" src="/images/books.jpg" alt="" />
    <h3 class="sideH3">Books</h3>
  </div></a>
</section>

<div class="articleContainer">
<article>
    <img class="portrait" src="{{author.portrait_url}}" alt="">
    <div class="lineGrp">
      <h2 class="name">{{author.first_name}} {{author.last_name}}</h2>
      <div class="buttonGrp">
        <button class="delete-btn btn btn-primary" data-author-id="{{author.id}}" type="button" name="delete">Delete</button>
        <a href="/authors/{{author.id}}/edit"><button class="btn btn-primary" type="button" name="edit">Edit Author</button></a>
      </div>
    </div>
    <h3>
    {{#books}}
  {{title}}
    {{/books}}
  </h3>
    <p>{{author.biography}}</p>
</article>
</div>

<script type="text/javascript">
$('.delete-btn').on('click', function(){
  var author_id = $(this).data('author-id');
  var article = $(this).parent();

  $.ajax({
    url: '/authors/' + author_id,
    type: 'DELETE',
    success: function(result) {
      $(article).slideUp();
    }
  });
});
</script>
