<a href="/authors/add"><button type="button" name="add">Add New Author</button></a>
{{#authors}}
  <article>
    <img class="portrait" src="{{portrait_url}}" alt="">
    <h2>{{first_name}} {{last_name}}</h2>
    <a href="/authors/{{id}}/delete"><button type="button" name="delete">Delete</button></a>
    <h3>
    {{books}}
  </h3>
    <p>{{biography}}</p>
  </article>
{{/authors}}
