<div class="container-fluid">

  <button id="search" class="btn btn-primary btn-lg" name="button">Filter</button>
  <a href="/authors/add"><button class="btn btn-primary btn-lg" type="button" name="add">Add New Author</button></a>
  <br>
  <br>

<form class="searchForm hideForm" action="/authors/filter" method="post">
    <div class="form-group">
        <label for="first">First Name</label>
        <input type="text" class="form-control" name="first" value="">
    </div>
    <div class="form-group">
        <label for="first">Last Name</label>
        <input type="text" class="form-control" name="last" value="">
    </div>
    <div class="form-group">
        <label for="first">Limit</label>
        <input type="number" class="form-control" name="limit" value="">
    </div>
    <button class="btn btn-primary" type="submit" name="button">Submit</button>
</form>

<main>

<div class="articleContainer">
    <h1>Authors</h1>
    <br>
    <br>
  {{#authors}}
  <article class="slide{{book_id}}">
    <div class="row">
      <div class="articleImg col-md-3">
        <a href="/authors/{{author_id}}"><img class="portrait" src="{{portrait_url}}" alt="">
      </div>
      <div class="descriptionGrp col-md-8">
        <div class="lineGrp">
          <h2 class="name">{{first_name}} {{last_name}}</h2></a>
          <div class="buttonGrp">
            <button class="delete-btn btn btn-primary" data-author-id="{{author_id}}" type="button" name="delete">Delete</button>
            <a href="/authors/{{author_id}}/edit"><button class="btn btn-primary" type="button" name="edit">Edit Author</button></a>
          </div>
        </div>
        <h4>{{books}}</h4>
      <p>{{biography}}</p>
      </div>
    </div>
  </article>
  {{/authors}}
</div>


</main>
</div>
<script type="text/javascript">
  $('#search').on('click', function(){
    $('.searchForm').toggleClass('hideForm');
  })
</script>


<script type="text/javascript">
$('.delete-btn').on('click', function(){
  var author_id = $(this).data('author-id');
  var article = $(this).parent();
  var articleClass = ".slide" + author_id;

  $.ajax({
    url: '/authors/' + author_id,
    type: 'DELETE',
    success: function(result) {
      $(articleClass).slideUp();
    }
  });
});
</script>
