<div class="container-fluid">

<div class="articleContainer">
  <article>
    <div class="row">
      <div class="articleImg col-md-3">
        <img class="portrait" src="{{author.portrait_url}}" alt="">
      </div>
      <div class="descriptionGrp col-md-8">
        <div class="lineGrp">
          <h2 class="name">{{author.first_name}} {{author.last_name}}</h2>
          <div class="buttonGrp">
            <button class="delete-btn btn btn-primary" data-author-id="{{author.id}}" type="button" name="delete">Delete</button>
            <a href="/authors/{{author.id}}/edit"><button class="btn btn-primary" type="button" name="edit">Edit Author</button></a>
          </div>
        </div>
        <h4>
        {{#books}}
      {{title}}
        {{/books}}
      </h4>
        <p>{{author.biography}}</p>
      </div>
    </div>
  </article>
</div>
</div>



<script type="text/javascript">
$('.delete-btn').on('click', function(){
  var author_id = $(this).data('author-id');
  var article = $(this).parent();

  $.ajax({
    url: '/authors/' + author_id,
    type: 'DELETE',
    success: function(result) {
      $(article).slideUp();
    }
  });
});
</script>
