<!-- <section>
  <div class="sideLink">
    <a href="/authors">
      <img class="sideImg" src="/images/authors.jpg" alt="...">
      <h3 class="sideH3">Authors</h3>
    </a>
  </div>

  <div class="sideLink">
    <a href="/books">
      <img class="sideImg" src="/images/books.jpg" alt="...">
      <h3 class="sideH3">Books</h3>
    </a>
  </div>

</section> -->

<article>
    <img class="bookCover" src="{{book.cover_url}}" alt="">
    <h2>{{book.title}}</h2>
    <h3>
    {{#authors}}
  {{first_name}} {{last_name}},
    {{/authors}}
  </h3>
    <h3><i>{{book.genre}}</i></h3>
    <p>{{book.description}}</p>
</article>
