<div class="container-fluid">

<div class="articleContainer">

<article>
  <div class="row">
    <div class="articleImg col-md-3">
      <img class="bookCover" src="{{book.cover_url}}" alt="">
    </div>
    <div class="descriptionGrp col-md-8">
      <div class="lineGrp">
        <h2 class="name">{{book.title}}</h2>
        <div class="buttonGrp">
          <button class="delete-btn btn btn-primary" data-book-id="{{book.id}}" type="button" name="delete">Delete</button>
          <a href="/books/{{book.id}}/edit"><button class="btn btn-primary" type="button" name="edit">Edit Book</button></a>
        </div>
      </div>
      <h4>
        <br>
      {{#authors}}
    {{first_name}} {{last_name}},
      {{/authors}}
    </h4>
      <h4><i>{{book.genre}}</i></h4>
      <p>{{book.description}}</p>
    </div>
  </div>
</article>
</div>
</div>

<script type="text/javascript">
$('.delete-btn').on('click', function(){
  var book_id = $(this).data('book-id');
  var article = $(this).parent();

  $.ajax({
    url: '/books/' + book_id,
    type: 'DELETE',
    success: function(result) {
      $(article).slideUp();
    }
  });
});
</script>
