<article>
    <img class="bookCover" src="{{book.cover_url}}" alt="">
    <h2>{{book.title}}</h2>
    <button class="delete-btn" data-book-id="{{book.id}}" type="button" name="delete">Delete</button>
    <h3>
    {{#authors}}
  {{first_name}} {{last_name}},
    {{/authors}}
  </h3>
    <h3><i>{{book.genre}}</i></h3>
    <p>{{book.description}}</p>
</article>

<script type="text/javascript">
$('.delete-btn').on('click', function(){
  var book_id = $(this).data('book-id');
  var article = $(this).parent();

  $.ajax({
    url: '/books/' + book_id,
    type: 'DELETE',
    success: function(result) {
      $(article).slideUp();
    }
  });
});
</script>
