<a href="/books/add"><button type="button" name="add">Add New Book</button></a>

{{#books}}
  <article>
    <img class="bookCover" src="{{cover_url}}" alt="">
    <h2>{{title}}</h2>
    <button class="delete-btn" data-book-id="{{book_id}}" type="button" name="delete">Delete</button>
    <a href="/books/{{book_id}}/edit"><button type="button" name="edit">Edit Book</button></a>
    <h3>
      {{authors}}
    </h3>
    <h3><i>{{genre}}</i></h3>
    <p>{{description}}</p>
  </article>
{{/books}}


<script type="text/javascript">
$('.delete-btn').on('click', function(){
  var book_id = $(this).data('book-id');
  var article = $(this).parent();

  $.ajax({
    url: '/books/' + book_id,
    type: 'DELETE',
    success: function(result) {
      $(article).slideUp();
    }
  });
});
</script>
