{{#books}}
  <article>
    <img class="bookCover" src="{{cover_url}}" alt="">
    <h2>{{title}}</h2>
    <h3>
      {{authors}}
    </h3>
    <h3><i>{{genre}}</i></h3>
    <p>{{description}}</p>
  </article>
{{/books}}
