<div class="container-fluid">
<div class="articleContainer">
{{#books}}
  <article>
    <img class="bookCover" src="{{cover_url}}" alt="">
    <div class="lineGrp">
      <a href="/books/{{book_id}}"><h2 class="name">{{title}}</h2></a>
      <div class="buttonGrp">
        <button class="delete-btn btn btn-primary" data-book-id="{{book_id}}" type="button" name="delete">Delete</button>
        <a href="/books/{{book_id}}/edit"><button class="btn btn-primary" type="button" name="edit">Edit Book</button></a>
      </div>
    </div>
    <h3>
      {{authors}}
    </h3>
    <h3><i>{{genre}}</i></h3>
    <p>{{description}}</p>
  </article>
{{/books}}
</div>
</div>

<script type="text/javascript">
$('.delete-btn').on('click', function(){
  var book_id = $(this).data('book-id');
  var article = $(this).parent();

  $.ajax({
    url: '/books/' + book_id,
    type: 'DELETE',
    success: function(result) {
      $(article).slideUp();
    }
  });
});
</script>
